In [1]:
import pandas as pd

In [3]:
df = pd.read_csv("data/GHS/GHS.csv")
df

,sentence1,sentence2,gold_label
0,"Israel has turned to a British firm, which pio...",British firm to aid jobless in Israel,ENTAILMENT
1,The same accounts may also have been involved ...,Betfair itself alerted the Club's security dep...,NONENTAILMENT
2,Yet Baker's feeling as Rigmarole's moment of t...,Baker's association with Rigmarole closely tra...,NONENTAILMENT
3,The regulation of premium rate phone services ...,Ofcom to scrutinize regulation of premium rate...,ENTAILMENT
4,The Ben Somewhen drawings are informed with hu...,The haiku-like form of these texts reminded me...,NONENTAILMENT
...,...,...,...
795,"As a result of Hit's US expansion plans, the c...",Hit is to take a 30% stake in the service in a...,NONENTAILMENT
796,The possibly imminent indictment for war crime...,War crimes indictment could push teetering Kos...,ENTAILMENT
797,"It is instructive, then, to hear Johnson cite ...","""I enjoyed the battle in a different sort of w...",NONENTAILMENT
798,"It is only now, several days later, that the f...","""Even Saddam didn't do this,"" Mohammed Ahmed, ...",NONENTAILMENT
799,The 19-year veteran of the financial informati...,Mr Shaffer will return to Thomson head office ...,NONENTAILMENT

In [5]:
df[:100].to_csv("data/GHS/GHS_1.csv",index=False)
df[100:200].to_csv("data/GHS/GHS_2.csv",index=False)
df[200:300].to_csv("data/GHS/GHS_3.csv",index=False)
df[300:400].to_csv("data/GHS/GHS_4.csv",index=False)
df[400:500].to_csv("data/GHS/GHS_5.csv",index=False)
df[500:600].to_csv("data/GHS/GHS_6.csv",index=False)
df[600:700].to_csv("data/GHS/GHS_7.csv",index=False)
df[700:800].to_csv("data/GHS/GHS_8.csv",index=False)

# RTE 3

In [36]:
df_rte3=pd.read_csv("data/RTE3/RTE3_TEST.csv")
#df_rte3.apply(lambda x : str(x).strip())
df_rte3

,Unnamed: 0,id,gold_label,sentence1,sentence2
0,0,1,YES,"Claude Chabrol (born June 24, 1930) is a Frenc...",Le Beau Serge was directed by Chabrol.
1,1,2,YES,"Claude Chabrol (born June 24, 1930) is a Frenc...",Le Boucher was made by a French movie director.
2,2,3,YES,"Claude Chabrol divorced Agnes, his first wife,...",Aurore Paquiss married Chabrol.
3,3,4,YES,The Communist Party USA was a small Maoist pol...,Michael Laski was a member of a Maoist politic...
4,4,5,NO,The Communist Party USA was a small Maoist pol...,Michael Laski was an opponent of China.
...,...,...,...,...,...
795,795,796,YES,It has pledged to allow the yuan to float more...,China has an export-led economy.
796,796,797,NO,Last year the US saw exports of goods and serv...,US exports rose 10.5%.
797,797,798,UNKNOWN,"The world's largest consumer of oil, US import...",There was a conflict between Israel and Lebanon.
798,798,799,UNKNOWN,"Away from the Olympic site, near the bricks an...",Aliens have been seen near the Forbidden City.
799,799,800,UNKNOWN,It's very difficult to get teams from China th...,It is difficult to get the right to stay in Ch...

In [37]:
temp=df_rte3.copy()
for index,strings in temp.iterrows():
    limpio=str(strings["sentence1"]).strip()
    df_rte3.at[index,"sentence1"]=limpio
    limpio=str(strings["sentence2"]).strip()
    df_rte3.at[index,"sentence2"]=limpio

In [38]:
df_rte3

,Unnamed: 0,id,gold_label,sentence1,sentence2
0,0,1,YES,"Claude Chabrol (born June 24, 1930) is a Frenc...",Le Beau Serge was directed by Chabrol.
1,1,2,YES,"Claude Chabrol (born June 24, 1930) is a Frenc...",Le Boucher was made by a French movie director.
2,2,3,YES,"Claude Chabrol divorced Agnes, his first wife,...",Aurore Paquiss married Chabrol.
3,3,4,YES,The Communist Party USA was a small Maoist pol...,Michael Laski was a member of a Maoist politic...
4,4,5,NO,The Communist Party USA was a small Maoist pol...,Michael Laski was an opponent of China.
...,...,...,...,...,...
795,795,796,YES,It has pledged to allow the yuan to float more...,China has an export-led economy.
796,796,797,NO,Last year the US saw exports of goods and serv...,US exports rose 10.5%.
797,797,798,UNKNOWN,"The world's largest consumer of oil, US import...",There was a conflict between Israel and Lebanon.
798,798,799,UNKNOWN,"Away from the Olympic site, near the bricks an...",Aliens have been seen near the Forbidden City.
799,799,800,UNKNOWN,It's very difficult to get teams from China th...,It is difficult to get the right to stay in Ch...

In [39]:
df_rte3=df_rte3[["sentence1","sentence2","gold_label"]]
df_rte3

,sentence1,sentence2,gold_label
0,"Claude Chabrol (born June 24, 1930) is a Frenc...",Le Beau Serge was directed by Chabrol.,YES
1,"Claude Chabrol (born June 24, 1930) is a Frenc...",Le Boucher was made by a French movie director.,YES
2,"Claude Chabrol divorced Agnes, his first wife,...",Aurore Paquiss married Chabrol.,YES
3,The Communist Party USA was a small Maoist pol...,Michael Laski was a member of a Maoist politic...,YES
4,The Communist Party USA was a small Maoist pol...,Michael Laski was an opponent of China.,NO
...,...,...,...
795,It has pledged to allow the yuan to float more...,China has an export-led economy.,YES
796,Last year the US saw exports of goods and serv...,US exports rose 10.5%.,NO
797,"The world's largest consumer of oil, US import...",There was a conflict between Israel and Lebanon.,UNKNOWN
798,"Away from the Olympic site, near the bricks an...",Aliens have been seen near the Forbidden City.,UNKNOWN
799,It's very difficult to get teams from China th...,It is difficult to get the right to stay in Ch...,UNKNOWN

In [40]:
df_rte3[:100].to_csv("data/RTE3/TEST_1.csv",index=False)
df_rte3[100:200].to_csv("data/RTE3/TEST_2.csv",index=False)
df_rte3[200:300].to_csv("data/RTE3/TEST_3.csv",index=False)
df_rte3[300:400].to_csv("data/RTE3/TEST_4.csv",index=False)
df_rte3[400:500].to_csv("data/RTE3/TEST_5.csv",index=False)
df_rte3[500:600].to_csv("data/RTE3/TEST_6.csv",index=False)
df_rte3[600:700].to_csv("data/RTE3/TEST_7.csv",index=False)
df_rte3[700:].to_csv("data/RTE3/TEST_8.csv",index=False)

# SICK

In [49]:
sick=pd.read_csv("data/SICK/SICK_TRAIN.csv")
#sick["gold_label"].unique()
sick

,sentence1,sentence2,gold_label
0,A group of kids is playing in a yard and an ol...,A group of boys in a yard is playing and a man...,CONTRADICTION
1,A group of children is playing in the house an...,A group of kids is playing in a yard and an ol...,CONTRADICTION
2,The young boys are playing outdoors and the ma...,The kids are playing outdoors near a man with ...,ENTAILMENT
3,The kids are playing outdoors near a man with ...,A group of kids is playing in a yard and an ol...,CONTRADICTION
4,The young boys are playing outdoors and the ma...,A group of kids is playing in a yard and an ol...,CONTRADICTION
...,...,...,...
4434,A door is being opened by a man,A bald man in a band is playing guitar in the ...,CONTRADICTION
4435,Someone is boiling okra in a pot,The man is not playing the drums,CONTRADICTION
4436,The man is singing heartily and playing the gu...,A bicyclist is holding a bike over his head in...,CONTRADICTION
4437,A man in blue has a yellow ball in the mitt,A man is jumping rope outside,CONTRADICTION
4438,Three dogs are resting on a sidewalk,The woman with a knife is slicing a pepper,CONTRADICTION

In [45]:
# sick[:100].to_csv("data/SICK/DEV_1.csv",index=False)
# sick[100:200].to_csv("data/SICK/DEV_2.csv",index=False)
# sick[200:300].to_csv("data/SICK/DEV_3.csv",index=False)
# sick[300:400].to_csv("data/SICK/DEV_4.csv",index=False)
# sick[400:].to_csv("data/SICK/DEV_5.csv",index=False)

In [50]:
contador=1
for i in range(0,4500,100):
    sick[i:i+100].to_csv("data/SICK/TRAIN_"+str(contador)+".csv",index=False)
    contador+=1

In [1]:
for i in range(50):
    print('nohup ../anaconda3/envs/rit/bin/python3 RIT.py "SICK/TRAIN_'+str(i+1)+'.csv"> data/SICK/log/salidaTRAIN'+str(i+1)+'.txt &')

nohup ../anaconda3/envs/rit/bin/python3 RIT.py "SICK/TRAIN_1.csv"> data/SICK/log/salidaTRAIN1.txt &
nohup ../anaconda3/envs/rit/bin/python3 RIT.py "SICK/TRAIN_2.csv"> data/SICK/log/salidaTRAIN2.txt &
nohup ../anaconda3/envs/rit/bin/python3 RIT.py "SICK/TRAIN_3.csv"> data/SICK/log/salidaTRAIN3.txt &
nohup ../anaconda3/envs/rit/bin/python3 RIT.py "SICK/TRAIN_4.csv"> data/SICK/log/salidaTRAIN4.txt &
nohup ../anaconda3/envs/rit/bin/python3 RIT.py "SICK/TRAIN_5.csv"> data/SICK/log/salidaTRAIN5.txt &
nohup ../anaconda3/envs/rit/bin/python3 RIT.py "SICK/TRAIN_6.csv"> data/SICK/log/salidaTRAIN6.txt &
nohup ../anaconda3/envs/rit/bin/python3 RIT.py "SICK/TRAIN_7.csv"> data/SICK/log/salidaTRAIN7.txt &
nohup ../anaconda3/envs/rit/bin/python3 RIT.py "SICK/TRAIN_8.csv"> data/SICK/log/salidaTRAIN8.txt &
nohup ../anaconda3/envs/rit/bin/python3 RIT.py "SICK/TRAIN_9.csv"> data/SICK/log/salidaTRAIN9.txt &
nohup ../anaconda3/envs/rit/bin/python3 RIT.py "SICK/TRAIN_10.csv"> data/SICK/log/salidaTRAIN10.txt &
nohup ../anaconda3/envs/rit/bin/python3 RIT.py "SICK/TRAIN_11.csv"> data/SICK/log/salidaTRAIN11.txt &
nohup ../anaconda3/envs/rit/bin/python3 RIT.py "SICK/TRAIN_12.csv"> data/SICK/log/salidaTRAIN12.txt &
nohup ../anaconda3/envs/rit/bin/python3 RIT.py "SICK/TRAIN_13.csv"> data/SICK/log/salidaTRAIN13.txt &
nohup ../anaconda3/envs/rit/bin/python3 RIT.py "SICK/TRAIN_14.csv"> data/SICK/log/salidaTRAIN14.txt &
nohup ../anaconda3/envs/rit/bin/python3 RIT.py "SICK/TRAIN_15.csv"> data/SICK/log/salidaTRAIN15.txt &
nohup ../anaconda3/envs/rit/bin/python3 RIT.py "SICK/TRAIN_16.csv"> data/SICK/log/salidaTRAIN16.txt &
nohup ../anaconda3/envs/rit/bin/python3 RIT.py "SICK/TRAIN_17.csv"> data/SICK/log/salidaTRAIN17.txt &
nohup ../anaconda3/envs/rit/bin/python3 RIT.py "SICK/TRAIN_18.csv"> data/SICK/log/salidaTRAIN18.txt &
nohup ../anaconda3/envs/rit/bin/python3 RIT.py "SICK/TRAIN_19.csv"> data/SICK/log/salidaTRAIN19.txt &
nohup ../anaconda3/envs/rit/bin/python3 RIT.py "SICK/TRAIN_20.csv"> data/SICK/log/salidaTRAIN20.txt &
nohup ../anaconda3/envs/rit/bin/python3 RIT.py "SICK/TRAIN_21.csv"> data/SICK/log/salidaTRAIN21.txt &
nohup ../anaconda3/envs/rit/bin/python3 RIT.py "SICK/TRAIN_22.csv"> data/SICK/log/salidaTRAIN22.txt &
nohup ../anaconda3/envs/rit/bin/python3 RIT.py "SICK/TRAIN_23.csv"> data/SICK/log/salidaTRAIN23.txt &
nohup ../anaconda3/envs/rit/bin/python3 RIT.py "SICK/TRAIN_24.csv"> data/SICK/log/salidaTRAIN24.txt &
nohup ../anaconda3/envs/rit/bin/python3 RIT.py "SICK/TRAIN_25.csv"> data/SICK/log/salidaTRAIN25.txt &
nohup ../anaconda3/envs/rit/bin/python3 RIT.py "SICK/TRAIN_26.csv"> data/SICK/log/salidaTRAIN26.txt &
nohup ../anaconda3/envs/rit/bin/python3 RIT.py "SICK/TRAIN_27.csv"> data/SICK/log/salidaTRAIN27.txt &
nohup ../anaconda3/envs/rit/bin/python3 RIT.py "SICK/TRAIN_28.csv"> data/SICK/log/salidaTRAIN28.txt &
nohup ../anaconda3/envs/rit/bin/python3 RIT.py "SICK/TRAIN_29.csv"> data/SICK/log/salidaTRAIN29.txt &
nohup ../anaconda3/envs/rit/bin/python3 RIT.py "SICK/TRAIN_30.csv"> data/SICK/log/salidaTRAIN30.txt &
nohup ../anaconda3/envs/rit/bin/python3 RIT.py "SICK/TRAIN_31.csv"> data/SICK/log/salidaTRAIN31.txt &
nohup ../anaconda3/envs/rit/bin/python3 RIT.py "SICK/TRAIN_32.csv"> data/SICK/log/salidaTRAIN32.txt &
nohup ../anaconda3/envs/rit/bin/python3 RIT.py "SICK/TRAIN_33.csv"> data/SICK/log/salidaTRAIN33.txt &
nohup ../anaconda3/envs/rit/bin/python3 RIT.py "SICK/TRAIN_34.csv"> data/SICK/log/salidaTRAIN34.txt &
nohup ../anaconda3/envs/rit/bin/python3 RIT.py "SICK/TRAIN_35.csv"> data/SICK/log/salidaTRAIN35.txt &
nohup ../anaconda3/envs/rit/bin/python3 RIT.py "SICK/TRAIN_36.csv"> data/SICK/log/salidaTRAIN36.txt &
nohup ../anaconda3/envs/rit/bin/python3 RIT.py "SICK/TRAIN_37.csv"> data/SICK/log/salidaTRAIN37.txt &
nohup ../anaconda3/envs/rit/bin/python3 RIT.py "SICK/TRAIN_38.csv"> data/SICK/log/salidaTRAIN38.txt &
nohup ../anaconda3/envs/rit/bin/python3 RIT.py "SICK/TRAIN_39.csv"> data/SICK/log/salidaTRAIN39.txt &
nohup ../anaconda3/envs/rit/bin/python3 RIT.py "SICK/TRAIN_40.csv"> data/SICK/log/salidaTRAIN40.txt &
nohup ../anaconda3/envs/rit/bin/python3 RIT.py "SICK/TRAIN_41.csv"> data/SICK/log/salidaTRAIN41.txt &
nohup ../anaconda3/envs/rit/bin/python3 RIT.py "SICK/TRAIN_42.csv"> data/SICK/log/salidaTRAIN42.txt &
nohup ../anaconda3/envs/rit/bin/python3 RIT.py "SICK/TRAIN_43.csv"> data/SICK/log/salidaTRAIN43.txt &
nohup ../anaconda3/envs/rit/bin/python3 RIT.py "SICK/TRAIN_44.csv"> data/SICK/log/salidaTRAIN44.txt &
nohup ../anaconda3/envs/rit/bin/python3 RIT.py "SICK/TRAIN_45.csv"> data/SICK/log/salidaTRAIN45.txt &
nohup ../anaconda3/envs/rit/bin/python3 RIT.py "SICK/TRAIN_46.csv"> data/SICK/log/salidaTRAIN46.txt &
nohup ../anaconda3/envs/rit/bin/python3 RIT.py "SICK/TRAIN_47.csv"> data/SICK/log/salidaTRAIN47.txt &
nohup ../anaconda3/envs/rit/bin/python3 RIT.py "SICK/TRAIN_48.csv"> data/SICK/log/salidaTRAIN48.txt &
nohup ../anaconda3/envs/rit/bin/python3 RIT.py "SICK/TRAIN_49.csv"> data/SICK/log/salidaTRAIN49.txt &
nohup ../anaconda3/envs/rit/bin/python3 RIT.py "SICK/TRAIN_50.csv"> data/SICK/log/salidaTRAIN50.txt &

In [2]:
snli=pd.read_csv("data/TRAIN.csv")
#sick["gold_label"].unique()
snli

,Unnamed: 0,gold_label,sentence1,sentence2,SET
0,0,neutral,A person on a horse jumps over a broken down a...,A person is training his horse for a competition.,TRAIN
1,1,contradiction,A person on a horse jumps over a broken down a...,"A person is at a diner, ordering an omelette.",TRAIN
2,2,entailment,A person on a horse jumps over a broken down a...,"A person is outdoors, on a horse.",TRAIN
3,3,neutral,Children smiling and waving at camera,They are smiling at their parents,TRAIN
4,4,entailment,Children smiling and waving at camera,There are children present,TRAIN
...,...,...,...,...,...
549362,549362,contradiction,Four dirty and barefooted children.,four kids won awards for 'cleanest feet',TRAIN
549363,549363,neutral,Four dirty and barefooted children.,"four homeless children had their shoes stolen,...",TRAIN
549364,549364,neutral,A man is surfing in a bodysuit in beautiful bl...,A man in a bodysuit is competing in a surfing ...,TRAIN
549365,549365,contradiction,A man is surfing in a bodysuit in beautiful bl...,A man in a business suit is heading to a board...,TRAIN
549366,549366,entailment,A man is surfing in a bodysuit in beautiful bl...,On the beautiful blue water there is a man in ...,TRAIN

In [6]:
contador=1
for i in range(0,550000,10000):
    snli[i:i+10000].to_csv("data/SNLI/TRAIN10000/TRAIN_"+str(contador)+".csv",index=False)
    contador+=1